@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply text-gray-800;
    scroll-behavior: smooth;
  }

  h1 {
    @apply text-7xl font-display font-black ;
  }

  h2 {
    @apply text-4xl font-display font-bold;
  }

  h3 {
    @apply text-3xl font-display font-bold;
  }

  h5 {
    @apply text-lg font-sans font-bold;
  }

  p {
    @apply text-base font-normal font-sans;
  }
}

@layer components {
  .paper {
    @apply bg-gray-50 shadow-md border border-gray-100;
  }

  .progress-wrapper {
    @apply w-full h-full absolute z-50;
  }

  .progress-wrapper .circle {
    @apply w-full h-full border-6 rounded-full absolute transform;
    border-color: currentColor;
  }

  .progress-wrapper .progress-left {
    @apply w-full h-full absolute inset-0;
    clip: rect(0px, 2rem, 4rem, 0px);
  }

  .progress-wrapper .progress-left .circle {
    clip: rect(0px, 4rem, 4rem, 2rem);
  }

  .progress-wrapper .progress-right {
    @apply w-full h-full absolute inset-0;
    clip: rect(0px, 4rem, 4rem, 2rem);
  }

  .progress-wrapper .progress-right .circle {
    clip: rect(0px, 2rem, 4rem, 0px);
  }

  .quote::before {
    content:  '"';
  }

  .quote::after {
    content:  '"';
  }
}

@layer utilities {
  .text-gradient {
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .stroke-1 path {
    stroke-width: 1;
  }
  .stroke-2 path {
    stroke-width: 2;
  }

  .absolute-x-center {
    @apply absolute left-1/2 transform -translate-x-1/2;
  }

  .absolute-y-center {
    @apply absolute top-1/2 transform -translate-y-1/2;
  }

  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .-scale-x-100 {
    --tw-scale-x: -1;
  }

  .-scale-y-100 {
    --tw-scale-y: -1;
  }
}
