@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply text-gray-800;
    scroll-behavior: smooth;
  }

  h1 {
    @apply text-6xl md:text-7xl font-display font-black ;
  }

  h2 {
    @apply text-4xl font-display font-bold;
  }

  h3 {
    @apply text-3xl font-display font-bold;
  }

  h5 {
    @apply text-lg font-sans font-bold;
  }

  p {
    @apply text-base font-normal font-sans;
  }
}

@layer components {
  .paper {
    @apply bg-gray-50 dark:bg-gray-900 shadow-md border border-gray-100 dark:border-gray-800;
  }

  .paper-btn {
    @apply paper transition duration-200 hover:shadow-lg hover:bg-gray-100 dark:hover:bg-gray-800 hover:shadow-lg focus:outline-none focus:ring-2 focus:ring-opacity-70 focus:ring-gray-300 dark:focus:ring-gray-600;
  }

  .btn {
    @apply border-2 border-blue-700 rounded-full text-base text-blue-700 font-sans font-medium py-2 px-5 hover:bg-blue-700 hover:text-white transition duration-300 focus:outline-none focus:ring-2 focus:ring-opacity-75 focus:ring-blue-700;
  }

  .progress-wrapper {
    @apply w-full h-full absolute z-50;
  }

  .progress-wrapper .circle {
    @apply w-full h-full border-6 rounded-full absolute transform;
    border-color: currentColor;
  }

  .progress-wrapper .progress-left {
    @apply w-full h-full absolute inset-0;
    clip: rect(0px, 2rem, 4rem, 0px);
  }

  .progress-wrapper .progress-left .circle {
    clip: rect(0px, 4rem, 4rem, 2rem);
  }

  .progress-wrapper .progress-right {
    @apply w-full h-full absolute inset-0;
    clip: rect(0px, 4rem, 4rem, 2rem);
  }

  .progress-wrapper .progress-right .circle {
    clip: rect(0px, 2rem, 4rem, 0px);
  }

  .quote::before {
    content:  '"';
  }

  .quote::after {
    content:  '"';
  }
}

@layer utilities {
  .absolute-center {
    @apply absolute transform;
  }

  .absolute-x-center {
    @apply absolute-center left-1/2;
    --tw-translate-x: -50% !important;
  }

  .absolute-y-center {
    @apply absolute-center top-1/2;
    --tw-translate-y: -50% !important;
  }

  .text-gradient {
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .stroke-1 path {
    stroke-width: 1;
  }
  .stroke-2 path {
    stroke-width: 2;
  }

  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .-scale-x-100 {
    --tw-scale-x: -1;
  }

  .-scale-y-100 {
    --tw-scale-y: -1;
  }
}
